<html>
<body>
<link rel="stylesheet" href="http://www.patternfly.org/assets/css/patternfly-site.min.css"></link>
<link rel="stylesheet" href="http://www.patternfly.org/assets/css/patternfly-site.min.css"></link>
<link rel="stylesheet" href="http://www.patternfly.org/assets/css/patternfly-site.min.css"></link>
<script src="http://www.patternfly.org/components/jquery/dist/jquery.min.js"></script>
<script src="http://www.patternfly.org/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="http://www.patternfly.org/components/patternfly/dist/js/patternfly.min.js"></script>
<script src="http://www.patternfly.org/components/c3/c3.min.js"></script>
<script src="http://www.patternfly.org/components/d3/d3.min.js"></script>
<div id="chart"></div>
<script>

  xhack = function(xdata) {
    var xh = ['xd'];
    var n = xdata.length;
    xh.push(xdata[0]);
    for (var j = 1; j < n-1; ++j) {
      xh.push(xdata[j] - 0.01);
      xh.push(xdata[j] + 0.01);
    }
    xh.push(xdata[n-1]);
    return xh;
  };

  yhack = function(ydata) {
    var yh = ['yd'];
    var n = ydata.length;
    for (var j = 0; j < n; ++j) {
      yh.push(ydata[j]);
      yh.push(ydata[j]);
    }
    return yh;
  };

  chartdata = function(xdata, ydata) {
    var xh = xhack(xdata);
    var yh = yhack(ydata);
    c3.generate({
      bindto: '#chart',
      data: {
        x: 'xd',
        columns: [ xh, yh ],
        types: {
            yd: 'area-step'
        }
      },
      axis: {
        x: {
          tick: {
            count: 5
          }
        }
      }      
    });
  };

  loadData = function() {
    $.ajax({
        url: "data",
        dataType: "json",
  }).success(function(jsonData) {
      chartdata(jsonData['xdata'], jsonData['ddata']);
      setTimeout(function() { loadData(); }, 5000);
    });
  };

  chartdata([{{ xdata }}], [{{ ddata }}]);

  setTimeout(function() { loadData(); }, 5000);

</script>
</body>
</html>
